---
import Layout from "../layouts/Layout.astro";
import Photos from "../components/Photos.jsx";
---
<Layout title="Gallery">
    <div class=" ">
        <p class=" font-bold text-center text-6xl lg:text-8xl mx-auto">Gallery</p>
        
    </div>
    <Photos {/*remember to hydrate page when using js */}></Photos>
        
    
    
</Layout>