---
import Layout from "../layouts/Layout.astro";
import Photos from "../components/Photos.jsx";
---
<Layout>
    <div class="h-screen flex-grow flex flex-row">
        <p class=" font-bold text-6xl lg:text-8xl mx-auto">Gallery</p>
    </div>
    <Photos></Photos>
    
</Layout>