---
import Layout from "../layouts/Layout.astro";
---
<Layout>

	<div class="w-screen min-h-screen flex-grow ">
		
		{/*map-> <iframe class="w-96 h-96" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.813906146758!2d-73.30754466805227!3d41.13858825310605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e81be4c00ec041%3A0xb188c5fb4876e9f3!2sW%E2%80%A2P%20Convenience%20%2F%20Vapes-Tobacco-Exotic%20Snacks!5e0!3m2!1sen!2sus!4v1664989731820!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> */}
		<div class="lg:flex flex-row justify-center">
			<div class="">
				<div class="text-center">
				<p class=" font-bold text-6xl lg:text-8xl">Come Visit Us!!</p>
				
				<a href="https://goo.gl/maps/aqE31SfbcytpSiU78" target="_blank" class="text-blue-600 text-5xl" ><p>1761 Post Rd E, Westport, CT 06880</p></a>
				<p></p>
			</div>
				<hr class="border-b-2 border-black ">
				<table class="text-4xl mx-auto lg:">
					
					<tr>
						<td>Sunday:</td>
						<td>10AM–9PM</td>
					</tr>
					<tr>
						<td>Monday:</td>
						<td>10AM–9PM</td>
					</tr>
					<tr>
						<td>Tuesday:</td>
						<td>10AM–9PM</td>
					</tr>
					<tr>
						<td>Wednesday:</td>
						<td>10AM–9PM</td>
					</tr>
					<tr>
						<td>Thursday:</td>
						<td>10AM–9PM</td>
					</tr>
					<tr>
						<td>Friday:</td>
						<td>10AM–10PM</td>
					</tr>
					<tr>
						<td>Saturday:</td>
						<td>10AM–5PM</td>
					</tr>
					
				</table>
				
			</div>
			
			<hr>
		</div>
		
			<iframe class="mx-auto w-screen flex-grow h-screen" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.813906146758!2d-73.30754466805227!3d41.13858825310605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e81be4c00ec041%3A0xb188c5fb4876e9f3!2sW%E2%80%A2P%20Convenience%20%2F%20Vapes-Tobacco-Exotic%20Snacks!5e0!3m2!1sen!2sus!4v1664989731820!5m2!1sen!2sus"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	<p class="h-20"></p>

	</div>

</Layout>