---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Home">
	
	<div class="w-screen min-h-screen flex-grow ">
		<img class="h-auto w-screen mx-auto border-4 border-black " src="/IMG-20221003-WA0008.jpg" alt="">
		<div class="lg:flex flex-row justify-center">
			<iframe class="mx-auto lg:order-2 w-full md:w-[75%] h-96 flex-grow lg:h-screen" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.813906146758!2d-73.30754466805227!3d41.13858825310605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e81be4c00ec041%3A0xb188c5fb4876e9f3!2sW%E2%80%A2P%20Convenience%20%2F%20Vapes-Tobacco-Exotic%20Snacks!5e0!3m2!1sen!2sus!4v1664989731820!5m2!1sen!2sus"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

			<div class="">
				<div class="text-center">
				<p class=" font-bold text-6xl lg:text-8xl" id="#dir">Come Visit!</p>
				<a href="https://goo.gl/maps/aqE31SfbcytpSiU78" target="_blank" class="text-blue-600 text-5xl" ><p>1761 Post Rd E, Westport, CT 06880</p></a>
				<p class="text-2xl">Located In The West Fair Shopping Center</p>
			</div>
				<hr class="border-b-2 border-black ">
				<table class=" text-4xl mx-auto lg:text-5xl">
					
					<tr class="">
						<td >Sunday:</td>
						<td>9AM–9PM</td>
					</tr>
					<tr>
						<td class="pt-14">Monday:</td>
						<td class="pt-14">9AM–9PM</td>
					</tr>
					<tr>
						<td class="pt-14">Tuesday:</td>
						<td class="pt-14">9AM–9PM</td>
					</tr>
					<tr>
						<td class="pt-14">Wednesday:</td>
						<td class="pt-14">9AM–9PM</td>
					</tr>
					<tr>
						<td class="pt-14">Thursday:</td>
						<td class="pt-14">9AM–9PM</td>
					</tr>
					<tr>
						<td class="pt-14">Friday:</td>
						<td class="pt-14">9AM–9PM</td>
					</tr>
					<tr>
						<td class="pt-14">Saturday:</td>
						<td class="pt-14">9AM–9PM</td>
					</tr>
					
				</table>
				
			</div>
			

		</div>
		

	{/*put review section here */}

	</div>

</Layout>