---
import Layout from "../layouts/Layout.astro";
---
<Layout>
	<div class="flex-grow"></div>
	<iframe class="self-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.813906146758!2d-73.30754466805227!3d41.13858825310605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e81be4c00ec041%3A0xb188c5fb4876e9f3!2sW%E2%80%A2P%20Convenience%20%2F%20Vapes-Tobacco-Exotic%20Snacks!5e0!3m2!1sen!2sus!4v1664989731820!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<h1 class="flex flex-grow">hi</h1>
	</div>
</Layout>